<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sing in</title>
</head>

<body>
    <div id="header">
        <h1>welcome!!</h1>
    </div>
    <div id="main">
        <div id="singin_container">
            <p>Please, fill the form to sing in into your account</p>
            <form id="singin_form" name='siningForm' action="/cgi-bin/login_webserver/singIn.py" onsubmit="return validateSingIn()"
                method="POST">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <br>
                <input type="submit" value="Sing In">
                <p id="alert"></p>
            </form>
            <a href="./singUp.html">Create an account</a>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>